html{
    font-size: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 120px;
}
body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(252, 30%, 17%);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.search-bar {
    backdrop-filter: blur(100px);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    transition: ease 0.6s;
}
.search-bar input[type="search"] {
    background: transparent;
    border: 0px solid;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(0, 0%, 100%);
}
.navigation-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-info button{
    background: transparent;
    border: 0px solid;
}

textarea:focus, input:focus{
    outline: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;

}
header .logo {
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.nav-bar {
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
    position: fixed;
    z-index: 10;
}
.nav-bar ul {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.navigation-list li{
    width: 100%;
}
.navigation-list ul li {
    padding: 10px 30px;
}
header.sticky{
    padding: 5px 10px;
    background: #ffffff;
    filter: drop-shadow(0 -5px 5px #000000);
}
header.sticky .logo,
header.sticky ul li a {
    color:#000000;
}
header.sticky .search-bar {
    background-color: hsl(252,30%,95%);
}
header.sticky .search-bar  input[type="search"] {
    color: hsl(252, 30%, 17%);
}
.signup {
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: ease 0.3s;
}
.nav-bar ul li a:hover {
    transform: scale(1.03);
}

.nav-bar ul li a:hover::after{
    color: #ffffff;
}
section {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
header.sticky .cart img{
    filter: brightness(1) invert(0);
    transition: ease 0.6s;
}
.cart img {
    filter: brightness(0) invert(1);
    width: 24px;
  }
.home {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-content {
    width: 50%;
    padding-left: 60px;
}
.home-content h1{
    font-size:  4.8rem;
    line-height: 1;
    color: #f9f9f9;
    font-family: 'Roboto-Bold', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.home-content p {
    color: #ffffffbf;
    font-size: 1.2rem;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 100;
}
.home-button {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 30px;
    background: hsl(253, 47%, 63%);
    color: #ffffff;
    border-radius: 5px;
    transition: ease .40s;
}
.home-button:hover {
    background: hsl(253, 36%, 69%);
    transform: scale(1.03);
}
.scrolldown-circle{
    display: flex;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 100px;
    overflow: hidden;
}
.scrolldown-circle .down-arrow {
    filter: brightness(0) invert(1);
    width: 50px;
    margin: 0;
    padding: 0;
    animation: animate 1.87s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-50px);

    }
    20%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(100px);
    }
}

.stud-reviews-h2 {
    font-size: 2.813rem;
}

.reviews h2,
.review-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.review-card {
    font-family: 'Roboto-Bold', sans-serif;
    width: 326px;
    height: 241px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 65px 45px rgba(0, 60, 255, 0.08);
}

.student-image img {
    border-radius: 50%; 
}

.student-info {
    display: flex;
    align-items: center;
}

.student-details {
    margin-left: 10px; 
}

.stars {
    display: flex;
    list-style: none;
    padding: 0;
}

.stars .star {
    color: #ffd700; 
    font-size: 1.25rem; 
    margin-right: 2px; 
}

.review-card p {
    font-size: 0.938rem;
}

.statistics {
    margin-top: 50px;
    background-color: #4976CE;
    width: auto;
    max-width: 100%; /* Ensure full width */
    height: 150px;
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
}

.stat-container {
    max-width: 800px;
    width: 100%; /* Take the full width of the parent container */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.stat {
    margin-top: 20px;
    color: white;
    text-align: center;
}
  
.stat-number,
.stat-label {
    margin: 0;
    padding: 0;
}
  
.stat-number {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 2.813rem;
}
  
.stat-label {
    font-family: 'Roboto-Semibold', sans-serif;
    font-size: 1.875rem;
}

.instructor {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

  .instructor article {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
}

.ring {
    position: absolute;
    margin-right: 200px;
    margin-bottom: 90px;
    width: 346px;
    height: 346px;
    border: 7px solid red;
    border-radius: 50%;
    z-index: -1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-content {
    display:grid;
    justify-content: center;
}

.text-content p{
    width: 420px;
    font-size: 1.25rem;
    padding-left: 50px;
    padding-right: 30px;
}

.text-content h2{
    width: 500px;
    font-size: 2.5rem;
}

.text-content h2,
.text-content p {
    margin: 0;
}

.text-content a{
    text-decoration: none;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    width: 213px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
}
.course-content-holder{
    font-family: 'Roboto-Bold';
}
.rec-courses{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
}
.rec-courses-title{
    padding-left: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}
.rec-courses-title h3{
    font-size: 2.413rem;
    font-weight: 400;
    color: #9348c5;
}
.rec-courses-title h1{
    font-size: 3.413rem;
    font-weight: 500;

}
.rec-courses-title {
    padding-bottom: 20px;
}
.rec-courses-holder {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}
.rec-courses-holder::-webkit-scrollbar {
    display: none;
}
.rec-courses-holder span, 
.rec-courses-holder strong{
    font-family: 'Roboto', sans-serif;
    color: rgb(35, 44, 99);
}
.rec-courses-holder div{
    margin: 0;
}

.rec-courses-holder.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.rec-courses-holder.dragging .course {
    cursor: grab;
    user-select: none;
}

.course {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 2px solid #ffffff;
    overflow: hidden;
    box-shadow: 0 0 20px -5px #a3a1a5;;
    margin: 10px;
    transition: ease 0.2s height; 
    position: relative;
}

.course:not(:hover) {
    height: auto; 
}

.cart-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: ease 0.2s;
}

.add-to-cart {
    justify-content: center;
    align-items: center;
    border: 0px solid #ffffff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 50px;
    margin: 0;
    background: hsl(253, 47%, 63%);
    color: #ffffff;
    box-shadow: 0 5px 10px 2px rgb(120, 95, 134);
    border-radius: 5px;
    transition: ease 0.2s;
}

.course:hover .cart-container {
    height: auto;
    opacity: 1;
}

.add-to-cart:hover {
    transform: scale(1.03);
}

.course-thumbnail-holder img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-title-holder strong,
.course-title-holder div {
    margin: 0;
}

.course-content-holder {
    padding: 10px;
}

.course-title {
    display: block;
    margin-bottom: 10px;
    font-size: 0.875rem;
}


.author {
    color: #777;
    font-size: 0.625rem;
}

.course-rating-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-rating-index {
    margin-right: 5px;
}

.ratings {
    display: flex;
}


.course-viewer-section {
    display: flex;
    align-items: center;
    font-size: 0.813rem;
}

.views-icon {
    margin-left: 5px;
}

.content-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.5rem;
}

.course-level-holder,
.course-term-holder,
.course-subject-holder {
    display: flex;
    align-items: center;
}

.course-level-icon,
.course-term-icon,
.course-subject-icon {
    margin-right: 5px;
}

.course-price-holder {
    margin-top: 10px;
    font-size: 0.875rem;
}

.price-holder {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.price {
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 5px;
}

.sale {
    color: #777;
    text-decoration: line-through;
}


.course-rating-section{
    font-size: 0.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
.carousel {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}
.carousel_inner{
    height: 600px;
    display: flex;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 10px 20px 5px #a3a1a5;;
 }
 
 .carousel_inner::after{
    content: "";
    display: block;
    clear: both;
 }

 .carousel_item {
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%m 0.25);
    float: left;
    display: none;
    max-width: 100%;
    margin-right: -100%;
 }
 
 /* slide effect */
 .carousel_item__active,
 .carousel_item__pos_next{
    display: block;
 }
 
 .carousel_item__pos_next{
    left: 100%;
 }
 
 .carousel_item__next{
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
 }
 
 /* fade effect */
 .carousel__fade .carousel_item__pos_next{
    left: 0;
    opacity: 0;
 }
 
 .carousel__fade .carousel_item__next{
    transform: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
 }
 
 .carousel__fade .carousel_item__active.carousel_item__next{
    opacity: 0;
 }
 
 /* carousel */
 .carousel_img{
    display: flex;
    object-fit: cover;
    max-width: 100%;
    filter: brightness(40%);
 }
 .carousel_caption-1 {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: start;
    top: 30%;
    left: 0;

 }
 .carousel_caption-1  {
    width: 50%;
    padding-left: 60px;
}
.carousel_caption-1  h1{
    font-size:  4.8rem;
    line-height: 1;
    color: #f9f9f9;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.carousel_caption-1  p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}
.carousel_caption-2 {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: start;
    top: 30%;
    left: 0;

 }
 .carousel_caption-2  {
    width: 50%;
    padding-left: 60px;
}
.carousel_caption-2  h1{
    font-size:  4.8rem;
    line-height: 1;
    color: #f9f9f9;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.carousel_caption-2  p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}
.carousel_caption-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
 }
.carousel_caption-3  h1{
    font-size:  3.8rem;
    line-height: 1;
    color: #f9f9f9;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.carousel_caption-3  p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}
.about {
    display: grid;
    height: 39.813rem;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px 5px rgba(0, 60, 255, 0.19);
}
.about-us-pic-container{
    border-radius: 30px 0px 0px 30px;
    max-width: 100%;
    height: 100%; 
    background-image: url("/img/business-people-working-in-the-office-scaled.jpg");
    background-size: cover; 
    background-position: 35%; 
    background-repeat: no-repeat; 
    filter: brightness(75%); 
}
.about img {
    width: 500px;
    height: 100%;
}
.about-us-content-container{
    padding: 50px;
}
.about-us-content-container h2{
    font-size: 2.813rem;
}
.about-us-content-container p{
    font-size: 1.25rem;
}


