html{
    font-size: 100%;
}
a {
    font-family: 'Roboto-Semibold', sans-serif;
}

h1 {
    font-family: 'Roboto-Bold', sans-serif;
}

h2 {
    font-family: 'Roboto-Bold', sans-serif;
}

p {
    font-family: 'Roboto-Light', sans-serif;
}
img {
    -webkit-user-drag: none;
}
body, ul {
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    flex-direction:row;
    background-color: #ffffff; 
    justify-content: center;
}

#main-search{
    height: 25px;
    width: 650px;
    border-radius: 30px;
    transition: width 0.5s ease;
}
.navigation-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navigation-bar-list span{
    font-family: 'Roboto-Bold', sans-serif;
    
}
.navigation-bar a {
    text-decoration: none;
    color: 0F62FE;
}
.headerButtonCart{
    background-color: white;
}
.header-module--main img {
    vertical-align: middle;
}
.header-module--search form {
    display: flex;
    max-width: 670px;
}


.header-module--search input {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.header-module--cart img {
    vertical-align: middle;
    margin-right: 10px;
}

.header-module--auth a {
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-module--categories ul {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 10px;
}

.header-module--categories:hover ul {
    display: block;
}


.banner {
    position: relative;
    text-align: center;
    width: 100%; 
    margin: 0 auto; 
}

.banner-img {
    position: relative;
    overflow: hidden;
    height: 36rem;
    width: 100%;
    margin: 0 auto; 
}

.banner-img img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(30%); 
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
    max-width: 800px; 
    padding: 20px;
    text-align: center;
}

.banner-h1 {
    font-size: 5rem; 
}

.banner-span {
    font-size: 2rem;
    font-family: 'Roboto-Semibold', sans-serif;
}
.banner-p {
    font-size: 1.25rem;
}

.banner-h1,
.banner-span {
    margin: 0;
}
.banner-button {
    width: 213px; 
    height: 38px; 
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    display: block;
    margin: 0 auto; 
}


  
.content-block {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 500px 500px;
    gap: 20px;
}
  
.intro-text-holder,
.intro-img-holder {
    flex: 1;
    padding: 20px;
}
  
.intro-text-holder {
    width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-align: center;
    order: 1;
}

.intro-pg {
    font-size: 1.25rem;
    padding-left: 50px;
}

.intro-h2,
.intro-pg {
    margin: 0;
}

.intro-img-holder {
    order: 2;
}
  
.intro-h2 {

    font-size: 2.813rem;
    color: #000000;
}
  
.intro-img-holder img {
    max-width: 100%;
    height: auto;
}

.stud-reviews-h2 {
    font-size: 2.813rem;
}

.reviews h2,
.review-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.review-card {
    font-family: 'Roboto-Bold', sans-serif;
    width: 326px;
    height: 241px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 65px 45px rgba(0, 60, 255, 0.08);
}

.student-image img {
    border-radius: 50%; 
}

.student-info {
    display: flex;
    align-items: center;
}

.student-details {
    margin-left: 10px; 
}

.stars {
    display: flex;
    list-style: none;
    padding: 0;
}

.stars .star {
    color: #ffd700; 
    font-size: 1.25rem; 
    margin-right: 2px; 
}

.review-card p {
    font-size: 0.938rem;
}

.statistics {
    margin-top: 50px;
    background-color: #4976CE;
    width: auto;
    max-width: 100%; /* Ensure full width */
    height: 150px;
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
}

.stat-container {
    max-width: 800px;
    width: 100%; /* Take the full width of the parent container */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.stat {
    margin-top: 20px;
    color: white;
    text-align: center;
}
  
.stat-number,
.stat-label {
    margin: 0;
    padding: 0;
}
  
.stat-number {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 2.813rem;
}
  
.stat-label {
    font-family: 'Roboto-Semibold', sans-serif;
    font-size: 1.875rem;
}

.instructor {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

  .instructor article {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
}

.ring {
    position: absolute;
    margin-right: 200px;
    margin-bottom: 90px;
    width: 346px;
    height: 346px;
    border: 7px solid red;
    border-radius: 50%;
    z-index: -1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-content {
    display:grid;
    justify-content: center;
    box-align: center;
}

.text-content p{
    width: 420px;
    font-size: 1.25rem;
    padding-left: 50px;
    padding-right: 30px;
}

.text-content h2{
    width: 500px;
    font-size: 2.5rem;
}

.text-content h2,
.text-content p {
    margin: 0;
}

.text-content a{
    text-decoration: none;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    width: 213px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
}
.course-content-holder{
    font-family: 'Roboto-Bold';
}

.rec-courses {
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
}

.rec-courses-title h1{
    font-size: 2.813rem;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

.rec-courses-holder {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 50px);
    max-width: 1600px;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}
.rec-courses-holder::-webkit-scrollbar {
    display: none;
}
.rec-courses-holder span, 
.rec-courses-holder strong{
    font-family: 'Roboto', sans-serif;
    color: black;
}
.rec-courses-holder div{
    margin: 0;
}
.rec-courses-holder.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.rec-courses-holder.dragging .course {
    cursor: grab;
    user-select: none;
}

.course {
    scroll-snap-align: start;
    width: 100%; 
    max-width: 295px; 
    height: auto;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -3px 5px 0 0 #D9ECFF;
    margin: 10px;
}


.course-thumbnail-holder img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-title-holder strong,
.course-title-holder div {
    margin: 0;
}

.course-content-holder {
    padding: 10px;
}

.course-title {
    display: block;
    margin-bottom: 10px;
    font-size: 0.875rem;
}

.author {
    color: #777;
    font-size: 0.625rem;
}

.course-rating-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-rating-index {
    margin-right: 5px;
}

.ratings {
    display: flex;
}


.course-viewer-section {
    display: flex;
    align-items: center;
    font-size: 0.813rem;
}

.views-icon {
    margin-left: 5px;
}

.content-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.5rem;
}

.course-level-holder,
.course-term-holder,
.course-subject-holder {
    display: flex;
    align-items: center;
}

.course-level-icon,
.course-term-icon,
.course-subject-icon {
    margin-right: 5px;
}

.course-price-holder {
    margin-top: 10px;
    font-size: 0.875rem;
}

.price-holder {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.price {
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 5px;
}

.sale {
    color: #777;
    text-decoration: line-through;
}

.rec-courses i {
    height: 50px;
    width: 50px;
    background: #2e2d2d;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.rec-courses i:first-child{
    top: 65%;
    left: -22px;
}
.rec-courses i:last-child{
    top: 65%;
    right: -22px;
}
.course-rating-section{
    font-size: 0.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
.course:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
}

.about-us {
    margin-top: 60px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 320px;
    padding-right: 320px;
}
.about {
    display: grid;
    height: 39.813rem;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px 5px rgba(0, 60, 255, 0.19);
}
.about-us-pic-container{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%; 
    background-image: url("/img/business-people-working-in-the-office-scaled.jpg");
    background-size: cover; 
    background-position: 35%; 
    background-repeat: no-repeat; 
    filter: brightness(75%); 
}
.about img {
    width: 500px;
    height: 100%;
}
.about-us-content-container{
    padding: 50px;
}
.about-us-content-container h2{
    font-size: 2.813rem;
}
.about-us-content-container p{
    font-size: 1.25rem;
}

@media (max-width: 610px){
    .text-content a{
        margin-left: 135px;
    }
    .ring {
        width: 250px;
        height: 250px;
        margin-left: 60px;
    }
    .instructor {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
    }
    .image-container img{
        width: 300px;
    }
    html{
        font-size: 60%;
        justify-content: center;
        text-align: center;
    }
    .intro-pg {
        padding-left: 0px;
    }
    #main-search {
        width: 50px; 
    }
    .intro-text-holder{
        max-width: 374px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rec-courses-holder {
        grid-auto-columns: calc((100% / 1) - 80px);
    }
    .content-block {
        display: block;
    }
    .instructor article {
        grid-template-columns: 1fr;
    };
    .banner-img {
        width: 100%;
        height: 0; 
        padding-bottom: 60%;
        position: relative;
    }
    .banner-img img {
        width: 100%; /* Make sure the image takes 100% of the container width */
        height: 100%; /* Make sure the image takes 100% of the container height */
        object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
        position: absolute;
        top: 0;
        left: 0;
    }
    .banner-h1 {
        font-size: 3rem; 
    }    
    .banner-span {
        font-size: 1.5rem; 
    }    
    .banner-p {
        font-size: 0.85rem;
    } 
}
@media (min-width: 481px) and (max-width: 800px){
    html{
        font-size: 90%;
    }
    .rec-courses-holder {
        grid-auto-columns: calc(100% / 2);
        max-width: 900px;
    }
    
    .banner-h1 {
        font-size: 3rem; 
    }    
    .banner-p {
        font-size: 0.85rem;
    } 
    
    .content-block {
        display: block;
    }
    .intro {
        display: grid;
        justify-content: center;
    }
    .instructor article {
        grid-template-columns: 1fr
    };
    .banner-img {
        width: 100%;
        height: 0; 
        padding-bottom: 60%;
        position: relative;
    }
    .banner-img img {
        width: 100%; /* Make sure the image takes 100% of the container width */
        height: 100%; /* Make sure the image takes 100% of the container height */
        object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
        position: absolute;
        top: 0;
        left: 0;
    }
    #main-search {
        width: 150px; 
    }
}
@media (min-width: 801px) and (max-width: 1200px){
    .rec-courses-holder {
        grid-auto-columns: calc(100% / 3);
        max-width: 1200px;
    }
    .rec-courses {
        max-width: 1200px;
    }
    .banner-h1 {
        font-size: 3rem; 
    }
    .banner-span {
        font-size: 1rem;
    }
    .content-block {
        display: block;
    }
    .banner-p {
        font-size: 0.85rem;
    } 
    .intro {
        display: grid;
        justify-content: center;
    }
    .instructor article {
        grid-template-columns: 1fr;
    };
    .banner-img {
        width: 100%;
        height: 0; 
        padding-bottom: 60%;
        position: relative;
    }
    .banner-img img {
        width: 100%; /* Make sure the image takes 100% of the container width */
        height: 100%; /* Make sure the image takes 100% of the container height */
        object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
        position: absolute;
        top: 0;
        left: 0;
    }
    #main-search {
        width: 250px; 
    }
}
@media (min-width: 1201px) and (max-width: 1600px){
    .rec-courses-holder {
        grid-auto-columns: calc((100% / 4) - 10px);
        max-width: 1200px;
    }
    .content-block:nth-child(2) .intro-img-holder {
        order: 1;
    }
      
    .content-block:nth-child(2) .intro-text-holder {
        order: 2;
    }
    #main-search {
        width: 450px; 
    }
}
@media (min-width: 1601px){
    .content-block:nth-child(2) .intro-img-holder {
        order: 1;
    }
      
    .content-block:nth-child(2) .intro-text-holder {
        order: 2;
    }
}
